# Laravel (backend/)
backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log

# Flutter (mobile/)
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/linux/flutter/ephemeral/
mobile/macos/Flutter/ephemeral/
mobile/windows/flutter/ephemeral/

# IDE
.fleet
.idea
.vscode
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
